/*ブレイクポイント*/
$pc-min: 1025px;
$tb-max: 1024px;
$tb-min: 600px;
$sp-max: 599px;

/*---ソリッドレイアウト用---*/
/*--PC、TB、SPがある場合--*/
/*position上右下左*/
@mixin resp-top($pc-t: 0px, $tb-t: 0px, $sp-t: 0px) {
  @media screen and (min-width: $pc-min){top: $pc-t;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){top: $tb-t;}
  @media screen and (max-width: $sp-max){top: $sp-t;}
}
@mixin resp-right($pc-r: 0px, $tb-r: 0px, $sp-r: 0px) {
  @media screen and (min-width: $pc-min){right: $pc-r;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){right: $tb-r;}
  @media screen and (max-width: $sp-max){right: $sp-r;}
}
@mixin resp-bottom($pc-b: 0px, $tb-b: 0px, $sp-b: 0px) {
  @media screen and (min-width: $pc-min){bottom: $pc-b;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){bottom: $tb-b;}
  @media screen and (max-width: $sp-max){bottom: $sp-b;}
}
@mixin resp-left($pc-l: 0px, $tb-l: 0px, $sp-l: 0px) {
  @media screen and (min-width: $pc-min){left: $pc-l;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){left: $tb-l;}
  @media screen and (max-width: $sp-max){left: $sp-l;}
}

/*margin上右下左*/
@mixin resp-margin-top($pc-mt: 0px, $tb-mt: 0px, $sp-mt: 0px) {
  @media screen and (min-width: $pc-min){margin-top: $pc-mt;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){margin-top: $tb-mt;}
  @media screen and (max-width: $sp-max){margin-top: $sp-mt;}
}
@mixin resp-margin-right($pc-mr: 0px, $tb-mr: 0px, $sp-mr: 0px) {
  @media screen and (min-width: $pc-min){margin-right: $pc-mr;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){margin-right: $tb-mr;}
  @media screen and (max-width: $sp-max){margin-right: $sp-mr;}
}
@mixin resp-margin-bottom($pc-mb: 0px, $tb-mb: 0px, $sp-mb: 0px) {
  @media screen and (min-width: $pc-min){margin-bottom: $pc-mb;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){margin-bottom: $tb-mb;}
  @media screen and (max-width: $sp-max){margin-bottom: $sp-mb;}
}
@mixin resp-margin-left($pc-ml: 0px, $tb-ml: 0px, $sp-ml: 0px) {
  @media screen and (min-width: $pc-min){margin-left: $pc-ml;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){margin-left: $tb-ml;}
  @media screen and (max-width: $sp-max){margin-left: $sp-ml;}
}

/*padding上右下左*/
@mixin resp-padding-top($pc-pt: 0px, $tb-pt: 0px, $sp-pt: 0px) {
  @media screen and (min-width: $pc-min){padding-top: $pc-pt;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){padding-top: $tb-pt;}
  @media screen and (max-width: $sp-max){padding-top: $sp-pt;}
}
@mixin resp-padding-right($pc-pr: 0px, $tb-pr: 0px, $sp-pr: 0px) {
  @media screen and (min-width: $pc-min){padding-right: $pc-pr;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){padding-right: $tb-pr;}
  @media screen and (max-width: $sp-max){margin-right: $sp-pr;}
}
@mixin resp-padding-bottom($pc-pb: 0px, $tb-pb: 0px, $sp-pb: 0px) {
  @media screen and (min-width: $pc-min){padding-bottom: $pc-pb;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){padding-bottom: $tb-pb;}
  @media screen and (max-width: $sp-max){padding-bottom: $sp-pb;}
}
@mixin resp-padding-left($pc-pl: 0px, $tb-pl: 0px, $sp-pl: 0px) {
  @media screen and (min-width: $pc-min){padding-left: $pc-pl;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){padding-left: $tb-pl;}
  @media screen and (max-width: $sp-max){padding-left: $sp-pl;}
}

/*margin、padding 上下*/
@mixin resp-margin-top-bottom($pc-mtb: 0px, $tb-mtb: 0px, $sp-mtb: 0px) {
  @media screen and (min-width: $pc-min){margin-top: $pc-mtb; margin-bottom: $pc-mtb;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){margin-top: $tb-mtb; margin-bottom: $tb-mtb;}
  @media screen and (max-width: $sp-max){margin-top: $sp-mtb; margin-bottom: $sp-mtb;}
}
@mixin resp-padding-top-bottom($pc-ptb: 0px, $tb-ptb: 0px, $sp-ptb: 0px) {
  @media screen and (min-width: $pc-min){padding-top: $pc-ptb; padding-bottom: $pc-ptb;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){padding-top: $tb-ptb; padding-bottom: $tb-ptb;}
  @media screen and (max-width: $sp-max){padding-top: $sp-ptb; padding-bottom: $sp-ptb;}
}

/*width*/
@mixin resp-max-width($pc-max-width: 1000px, $tb-max-width: 580px, $sp-max-width: 275px) {
  @media screen and (min-width: $pc-min){max-width: $pc-max-width;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){max-width: $tb-max-width;}
  @media screen and (max-width: $sp-max){max-width: $sp-max-width;}
}
@mixin resp-width($pc-width: 1000px, $tb-width: 580px, $sp-width: 275px) {
  @media screen and (min-width: $pc-min){width: $pc-width;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){width: $tb-width;}
  @media screen and (max-width: $sp-max){width: $sp-width;}
}

/*height*/
@mixin resp-height($pc-height: 412px, $tb-height: 202px, $sp-height: 130px) {
  @media screen and (min-width: $pc-min){height: $pc-height;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){height: $tb-height;}
  @media screen and (max-width: $sp-max){height: $sp-height;}
}

/*font-size*/
@mixin resp-font-size($pc-fsize: 40px, $tb-fsize: 30px, $sp-fsize: 20px) {
  @media screen and (min-width: $pc-min){font-size: $pc-fsize;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){font-size: $tb-fsize;}
  @media screen and (max-width: $sp-max){font-size: $sp-fsize;}
}

/*line-height*/
@mixin resp-line-height($pc-lheight: 1.0, $tb-lheight: 1.0, $sp-lheight: 1.0) {
  @media screen and (min-width: $pc-min){line-height: $pc-lheight;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){line-height: $tb-lheight;}
  @media screen and (max-width: $sp-max){line-height: $sp-lheight;}
}

/*letter-spacing*/
@mixin resp-letter-spacing($pc-lspacing: 0.01, $tb-lspacing: 0.01, $sp-lspacing: 0.01) {
  @media screen and (min-width: $pc-min){letter-spacing: $pc-lspacing;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){letter-spacing: $tb-lspacing;}
  @media screen and (max-width: $sp-max){letter-spacing: $sp-lspacing;}
}


/*--PCとSPだけの場合--*/
/*position上右下左*/
@mixin resp-ps-top($pc-t: 0px, $sp-t: 0px) {
  @media screen and (min-width: $pc-min){top: $pc-t;}
  @media screen and (max-width: $sp-max){top: $sp-t;}
}
@mixin resp-ps-right($pc-r: 0px, $sp-r: 0px) {
  @media screen and (min-width: $pc-min){right: $pc-r;}
  @media screen and (max-width: $sp-max){right: $sp-r;}
}
@mixin resp-ps-bottom($pc-b: 0px, $sp-b: 0px) {
  @media screen and (min-width: $pc-min){bottom: $pc-b;}
  @media screen and (max-width: $sp-max){bottom: $sp-b;}
}
@mixin resp-ps-left($pc-l: 0px, $sp-l: 0px) {
  @media screen and (min-width: $pc-min){left: $pc-l;}
  @media screen and (max-width: $sp-max){left: $sp-l;}
}

/*margin上右下左*/
@mixin resp-ps-margin-top($pc-mt: 0px, $sp-mt: 0px) {
  @media screen and (min-width: $pc-min){margin-top: $pc-mt;}
  @media screen and (max-width: $sp-max){margin-top: $sp-mt;}
}
@mixin resp-ps-margin-right($pc-mr: 0px, $sp-mr: 0px) {
  @media screen and (min-width: $pc-min){margin-right: $pc-mr;}
  @media screen and (max-width: $sp-max){margin-right: $sp-mr;}
}
@mixin resp-ps-margin-bottom($pc-mb: 0px, $sp-mb: 0px) {
  @media screen and (min-width: $pc-min){margin-bottom: $pc-mb;}
  @media screen and (max-width: $sp-max){margin-bottom: $sp-mb;}
}
@mixin resp-ps-margin-left($pc-ml: 0px, $sp-ml: 0px) {
  @media screen and (min-width: $pc-min){margin-left: $pc-ml;}
  @media screen and (max-width: $sp-max){margin-left: $sp-ml;}
}

/*padding上右下左*/
@mixin resp-ps-padding-top($pc-pt: 0px, $sp-pt: 0px) {
  @media screen and (min-width: $pc-min){padding-top: $pc-pt;}
  @media screen and (max-width: $sp-max){padding-top: $sp-pt;}
}
@mixin resp-ps-padding-right($pc-pr: 0px, $sp-pr: 0px) {
  @media screen and (min-width: $pc-min){padding-right: $pc-pr;}
  @media screen and (max-width: $sp-max){margin-right: $sp-pr;}
}
@mixin resp-ps-padding-bottom($pc-pb: 0px, $sp-pb: 0px) {
  @media screen and (min-width: $pc-min){padding-bottom: $pc-pb;}
  @media screen and (max-width: $sp-max){padding-bottom: $sp-pb;}
}
@mixin resp-ps-padding-left($pc-pl: 0px, $sp-pl: 0px) {
  @media screen and (min-width: $pc-min){padding-left: $pc-pl;}
  @media screen and (max-width: $sp-max){padding-left: $sp-pl;}
}

/*margin、padding 上下*/
@mixin resp-ps-margin-top-bottom($pc-mtb: 0px, $sp-mtb: 0px) {
  @media screen and (min-width: $pc-min){margin-top: $pc-mtb; margin-bottom: $pc-mtb;}
  @media screen and (max-width: $sp-max){margin-top: $sp-mtb; margin-bottom: $sp-mtb;}
}
@mixin resp-ps-padding-top-bottom($pc-mtb: 0px, $sp-mtb: 0px) {
  @media screen and (min-width: $pc-min){padding-top: $pc-mtb; padding-bottom: $pc-mtb;}
  @media screen and (max-width: $sp-max){padding-top: $sp-mtb; padding-bottom: $sp-mtb;}
}

/*width*/
@mixin resp-ps-max-width($pc-max-width: 1000px, $sp-max-width: 275px) {
  @media screen and (min-width: $pc-min){max-width: $pc-max-width;}
  @media screen and (max-width: $sp-max){max-width: $sp-max-width;}
}
@mixin resp-ps-width($pc-width: 1000px, $sp-width: 275px) {
  @media screen and (min-width: $pc-min){width: $pc-width;}
  @media screen and (max-width: $sp-max){width: $sp-width;}
}

/*height*/
@mixin resp-ps-height($pc-height: 412px, $sp-height: 130px) {
  @media screen and (min-width: $pc-min){height: $pc-height;}
  @media screen and (max-width: $sp-max){height: $sp-height;}
}

/*font-size*/
@mixin resp-ps-font-size($pc-fsize: 40px, $sp-fsize: 20px) {
  @media screen and (min-width: $pc-min){font-size: $pc-fsize;}
  @media screen and (max-width: $sp-max){font-size: $sp-fsize;}
}

/*line-height*/
@mixin resp-ps-line-height($pc-lheight: 1.0, $sp-lheight: 1.0) {
  @media screen and (min-width: $pc-min){line-height: $pc-lheight;}
  @media screen and (max-width: $sp-max){line-height: $sp-lheight;}
}

/*letter-spacing*/
@mixin resp-ps-letter-spacing($pc-lspacing: 0.01, $sp-lspacing: 0.01) {
  @media screen and (min-width: $pc-min){letter-spacing: $pc-lspacing;}
  @media screen and (max-width: $sp-max){letter-spacing: $sp-lspacing;}
}


/*--TBとSPだけの場合--*/
/*position上右下左*/
@mixin resp-ts-top($tb-t: 0px, $sp-t: 0px) {
  @media screen and (min-width: $tb-min){top: $tb-t;}
  @media screen and (max-width: $sp-max){top: $sp-t;}
}
@mixin resp-ts-right($tb-r: 0px, $sp-r: 0px) {
  @media screen and (min-width: $tb-min){right: $tb-r;}
  @media screen and (max-width: $sp-max){right: $sp-r;}
}
@mixin resp-ts-bottom($tb-b: 0px, $sp-b: 0px) {
  @media screen and (min-width: $tb-min){bottom: $tb-b;}
  @media screen and (max-width: $sp-max){bottom: $sp-b;}
}
@mixin resp-ts-left($tb-l: 0px, $sp-l: 0px) {
  @media screen and (min-width: $tb-min){left: $tb-l;}
  @media screen and (max-width: $sp-max){left: $sp-l;}
}

/*margin上右下左*/
@mixin resp-ts-margin-top($tb-mt: 0px, $sp-mt: 0px) {
  @media screen and (min-width: $tb-min){margin-top: $tb-mt;}
  @media screen and (max-width: $sp-max){margin-top: $sp-mt;}
}
@mixin resp-ts-margin-right($tb-mr: 0px, $sp-mr: 0px) {
  @media screen and (min-width: $tb-min){margin-right: $tb-mr;}
  @media screen and (max-width: $sp-max){margin-right: $sp-mr;}
}
@mixin resp-ts-margin-bottom($tb-mb: 0px, $sp-mb: 0px) {
  @media screen and (min-width: $tb-min){margin-bottom: $tb-mb;}
  @media screen and (max-width: $sp-max){margin-bottom: $sp-mb;}
}
@mixin resp-ts-margin-left($tb-ml: 0px, $sp-ml: 0px) {
  @media screen and (min-width: $tb-min){margin-left: $tb-ml;}
  @media screen and (max-width: $sp-max){margin-left: $sp-ml;}
}

/*padding上右下左*/
@mixin resp-ts-padding-top($tb-pt: 0px, $sp-pt: 0px) {
  @media screen and (min-width: $tb-min){padding-top: $tb-pt;}
  @media screen and (max-width: $sp-max){padding-top: $sp-pt;}
}
@mixin resp-ts-padding-right($tb-pr: 0px, $sp-pr: 0px) {
  @media screen and (min-width: $tb-min){padding-right: $tb-pr;}
  @media screen and (max-width: $sp-max){margin-right: $sp-pr;}
}
@mixin resp-ts-padding-bottom($tb-pb: 0px, $sp-pb: 0px) {
  @media screen and (min-width: $tb-min){padding-bottom: $tb-pb;}
  @media screen and (max-width: $sp-max){padding-bottom: $sp-pb;}
}
@mixin resp-ts-padding-left($tb-pl: 0px, $sp-pl: 0px) {
  @media screen and (min-width: $tb-min){padding-left: $tb-pl;}
  @media screen and (max-width: $sp-max){padding-left: $sp-pl;}
}

/*margin、padding 上下*/
@mixin resp-ts-margin-top-bottom($tb-mtb: 0px, $sp-mtb: 0px) {
  @media screen and (min-width: $tb-min){margin-top: $tb-mtb; margin-bottom: $tb-mtb;}
  @media screen and (max-width: $sp-max){margin-top: $sp-mtb; margin-bottom: $sp-mtb;}
}
@mixin resp-ts-padding-top-bottom($tb-mtb: 0px, $sp-mtb: 0px) {
  @media screen and (min-width: $tb-min){padding-top: $tb-mtb; padding-bottom: $tb-mtb;}
  @media screen and (max-width: $sp-max){padding-top: $sp-mtb; padding-bottom: $sp-mtb;}
}

/*width*/
@mixin resp-ts-max-width($tb-max-width: 1000px, $sp-max-width: 275px) {
  @media screen and (min-width: $tb-min){max-width: $tb-max-width;}
  @media screen and (max-width: $sp-max){max-width: $sp-max-width;}
}
@mixin resp-ts-width($tb-width: 1000px, $sp-width: 275px) {
  @media screen and (min-width: $tb-min){width: $tb-width;}
  @media screen and (max-width: $sp-max){width: $sp-width;}
}

/*height*/
@mixin resp-ts-height($tb-height: 412px, $sp-height: 130px) {
  @media screen and (min-width: $tb-min){height: $tb-height;}
  @media screen and (max-width: $sp-max){height: $sp-height;}
}

/*font-size*/
@mixin resp-ps-font-size($tb-fsize: 30px, $sp-fsize: 20px) {
  @media screen and (min-width: $tb-min){font-size: $tb-fsize;}
  @media screen and (max-width: $sp-max){font-size: $sp-fsize;}
}

/*line-height*/
@mixin resp-ts-line-height($tb-lheight: 1.0, $sp-lheight: 1.0) {
  @media screen and (min-width: $tb-min){line-height: $tb-lheight;}
  @media screen and (max-width: $sp-max){line-height: $sp-lheight;}
}

/*letter-spacing*/
@mixin resp-ts-letter-spacing($tb-lspacing: 0.01, $sp-lspacing: 0.01) {
  @media screen and (min-width: $tb-min){letter-spacing: $tb-lspacing;}
  @media screen and (max-width: $sp-max){letter-spacing: $sp-lspacing;}
}


/*---ブレイクポイントを含まないもの---*/
/*-margin、padding-*/
@mixin margin-top-bottom($mtb) {
  margin-top: $mtb;
  margin-bottom: $mtb;
}
@mixin padding-top-bottom($ptb) {
  padding-top: $ptb;
  padding-bottom: $ptb;
}
@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

/*-中央寄せ-*/
/*block要素*/
@mixin block-element-horizontal-center{
  margin-right: auto;
  margin-left: auto;
}

/*display: flex;*/
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-幅いっぱい-*/
/*色を塗って幅いっぱい*/
@mixin fluid($bg-color) {
  width: 100%;
  background-color: $bg-color;
}

/*縦横比を保って幅いっぱい*/
@mixin fluid-keeping-ratio($original-height: 0, $original-width: 0) {
  width: 100%;
  height: calc(#{$original-height} / #{$original-width} *100vw);
}

/*色の変数*/
$white: #ffffff;
